/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services {
  .service-col {
    margin-bottom: 3rem;
  }
  .service-box {
    background-color: #fff;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
    height: 100%;
    &:hover {
      .ico-circle {
        transition: all 500ms ease;
        color: #fff;
        background-color: #149ddd;
        box-shadow: 0 0 0 5px #cde1f8;
      }
    }
    .service-ico {
      margin-bottom: 1rem;
      color: #1e1e1e;
    }
    .ico-circle {
      transition: all 500ms ease;
    }
    .s-title {
      text-align: center;
      padding: 0.4rem 0;
    }
    .s-description {
      color: #4e4e4e;
    }
  }
  .ico-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 1.5rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 5px #149ddd;
  }
}
